@keyframes blink {
  50% {
    transform: scale(0); } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 45em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: sans-serif; }

::-webkit-scrollbar {
  display: none; }

.error {
  background-color: rgba(255, 0, 0, 0.2);
  font-size: 1.8rem;
  width: 60vw;
  border-radius: 1rem;
  padding: 2rem; }

.star__tabs {
  display: flex; }
  @media only screen and (max-width: 32em) {
    .star__tabs {
      display: grid;
      grid-template-columns: repeat(3, 1fr); } }
  .star__tabs .btn__tab {
    color: white;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0;
    transition: all 0.2s;
    cursor: pointer; }
    @media only screen and (max-width: 45em) {
      .star__tabs .btn__tab {
        padding: 0.5rem 1.2rem;
        font-size: 1.5rem; } }
    .star__tabs .btn__tab:hover {
      opacity: 0.8;
      box-shadow: 0 0.2rem 1rem 0.4rem rgba(0, 0, 0, 0.1); }
    .star__tabs .btn__tab:focus {
      outline: none;
      box-shadow: 0 0.2rem 1rem 0.4rem rgba(0, 0, 0, 0.1); }
    .star__tabs .btn__tab--active {
      transform: scale(1.15);
      box-shadow: 0 0.2rem 1rem 0.4rem rgba(0, 0, 0, 0.3);
      z-index: 10; }
    .star__tabs .btn__tab--people {
      background-color: skyblue; }
    .star__tabs .btn__tab--starships {
      background-color: royalblue; }
    .star__tabs .btn__tab--films {
      background-color: brown; }
    .star__tabs .btn__tab--planets {
      background-color: black; }
    .star__tabs .btn__tab--species {
      background-color: green; }
    .star__tabs .btn__tab--vehicles {
      background-color: purple; }

.stars {
  display: grid;
  align-content: center;
  justify-items: center;
  grid-gap: 3rem; }

.star {
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr;
  width: 95vw;
  max-width: 100rem;
  box-shadow: 0 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3); }
  @media only screen and (max-width: 45em) {
    .star {
      display: flex;
      flex-direction: column; } }
  .star__tag {
    position: absolute;
    background-color: green;
    padding: 1rem 2.5rem;
    color: white;
    font-size: 1.5rem;
    top: 1rem;
    right: 1rem;
    border-radius: 1rem; }
    @media only screen and (max-width: 45em) {
      .star__tag {
        padding: 0.5rem 1.2rem; } }
  .star__image {
    width: 20vw;
    height: 100%;
    object-fit: cover;
    background-color: white;
    border-right: 2px solid #e2e1e1; }
    @media only screen and (max-width: 45em) {
      .star__image {
        width: 100%;
        height: 40vh;
        border-right: none;
        border-bottom: 2px solid #e2e1e1; } }
  .star__name {
    font-size: 2rem;
    margin-bottom: 0.8rem;
    color: #313030; }
  .star__details {
    padding: 2rem;
    display: grid;
    justify-content: start;
    align-content: center; }
    @media only screen and (max-width: 45em) {
      .star__details {
        padding: 1rem; } }
    .star__details--item {
      list-style: none;
      font-size: 1.4rem;
      font-weight: bold;
      color: #353333; }
      .star__details--item span {
        font-style: italic;
        font-weight: normal;
        margin-left: 0.4rem; }
        .star__details--item span a:link, .star__details--item span a:active {
          color: #555454;
          transition: all 0.2s;
          text-decoration: underline; }
        .star__details--item span a:hover {
          text-decoration: none; }

.film {
  background-color: rgba(165, 42, 42, 0.15);
  border-right: 0.6rem solid brown; }
  .film .star__image {
    border-top: 0.6rem solid brown;
    border-left: 0.6rem solid brown; }
  .film .star__tag {
    background-color: brown; }

.person {
  background-color: rgba(135, 206, 235, 0.15);
  border-right: 0.6rem solid skyblue; }
  .person .star__image {
    border-top: 0.6rem solid skyblue;
    border-left: 0.6rem solid skyblue; }
  .person .star__tag {
    background-color: skyblue; }

.planet {
  background-color: rgba(0, 0, 0, 0.1);
  border-right: 0.6rem solid black; }
  .planet .star__image {
    border-top: 0.6rem solid black;
    border-left: 0.6rem solid black; }
  .planet .star__tag {
    background-color: black; }

.specie {
  background-color: rgba(0, 128, 0, 0.1);
  border-right: 0.6rem solid green; }
  .specie .star__image {
    border-top: 0.6rem solid green;
    border-left: 0.6rem solid green; }
  .specie .star__tag {
    background-color: green; }

.starship {
  background-color: rgba(65, 105, 225, 0.15);
  border-right: 0.6rem solid royalblue; }
  .starship .star__image {
    border-top: 0.6rem solid royalblue;
    border-left: 0.6rem solid royalblue; }
  .starship .star__tag {
    background-color: royalblue; }

.vehicle {
  background-color: rgba(128, 0, 128, 0.15);
  border-right: 0.6rem solid purple; }
  .vehicle .star__image {
    border-top: 0.6rem solid purple;
    border-left: 0.6rem solid purple; }
  .vehicle .star__tag {
    background-color: purple; }

.header {
  background-color: #000;
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-size: cover;
  display: grid; }

.nav {
  display: flex;
  justify-content: center; }

.header__main {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.search__form {
  width: 95%;
  display: flex;
  justify-content: center; }

.search__input {
  padding: 1.8rem;
  width: 60%;
  font-size: 2rem;
  border: none;
  border-right: 1px solid grey;
  color: #575656;
  text-align: center;
  transition: all 0.3s; }
  @media only screen and (max-width: 45em) {
    .search__input {
      padding: 1.5rem;
      font-size: 1.8rem; } }
  .search__input::placeholder {
    font-size: 1.8rem;
    color: #b6b4b4; }
    @media only screen and (max-width: 45em) {
      .search__input::placeholder {
        font-size: 1.5rem; } }
  .search__input:focus {
    outline: none;
    box-shadow: 0.5rem 0.5rem 1rem 1rem rgba(255, 255, 255, 0.7); }
    .search__input:focus::placeholder {
      color: #797878; }

.search__options {
  border: none;
  border-right: 1px solid grey;
  font-size: 1.6rem;
  color: grey;
  text-align: center;
  cursor: pointer; }
  .search__options option {
    color: grey;
    font-size: 1.6rem;
    transition: all 0.2s; }
    .search__options option:hover {
      opacity: 0.9; }
  .search__options:focus {
    outline: none;
    box-shadow: 0.5rem 0.5rem 1rem 1rem rgba(255, 255, 255, 0.7); }

.search__btn {
  font-size: 2rem;
  padding: 1rem;
  text-transform: uppercase;
  transition: all 0.3s;
  border: none;
  border-radius: 0;
  background-color: white;
  color: grey;
  border: 1px solid white;
  cursor: pointer; }
  @media only screen and (max-width: 45em) {
    .search__btn {
      padding: 0.5rem;
      font-size: 1.8rem; } }
  .search__btn:hover {
    background-color: black;
    color: white; }
  .search__btn:active {
    transform: scale(0.9); }
  .search__btn:focus {
    outline: none;
    box-shadow: 0.5rem 0.5rem 1rem 1rem rgba(255, 255, 255, 0.7);
    color: #5c5a5a; }

.nav__logo {
  height: 8rem; }

.main__container {
  padding: 6rem;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  grid-gap: 3rem; }

.loader {
  width: 10vw;
  height: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
  color: white;
  transform: rotateZ(45deg);
  transition: all 0.5s; }
  .loader__box {
    background-color: black;
    animation: blink 0.9s infinite; }
    .loader__box--1 {
      animation-delay: 0.5s; }
    .loader__box--2 {
      animation-delay: 0.4s; }
    .loader__box--3 {
      animation-delay: 0.3s; }
    .loader__box--4 {
      animation-delay: 0.4s; }
    .loader__box--5 {
      animation-delay: 0.3s; }
    .loader__box--6 {
      animation-delay: 0.2s; }
    .loader__box--7 {
      animation-delay: 0.3s; }
    .loader__box--8 {
      animation-delay: 0.2s; }
    .loader__box--9 {
      animation-delay: 0.1s; }
